{% for navItem in nav %}
  {% if loop.first %}<ul class="c-mainnav">{% endif %}
    <li class="c-mainnav__item"><a class="c-mainnav__link  {{ 'is-active' if navItem.trigger == currentSection }}" href="{{ navItem.url }}">{{ navItem.label }}</a></li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}