<article class="c-projectcard">
  <a class="c-projectcard__link" href="{{ project.url }}" aria-label="{{ project.data.title }}">
    <div class="c-projectcard__image">
      {% set cardimage600 = "/assets/img/projects_covers/600x338/" ~ project.data.bannerImage %}
      {% set cardimage1024 = "/assets/img/projects_covers/" ~ project.data.bannerImage %}
      <img src="{{ cardimage600 }}"
           srcset="{{ cardimage600 }} 600w,
                   {{ cardimage1024 }} 1024w"
           sizes="(min-width: 1280px) 380px,
                  (min-width: 1024px) 33vw,
                  (min-width: 750px) 50vw,
                  100vw"
           width="1024"
           height="576"
           loading="lazy"
           decoding="async"
           class="o-fluidimg"
           alt="">
    </div>
    <div class="c-projectcard__body">
      <p class="c-projectcard__date  c-meta">{{ dates.htmldate(project.data.date) }}</p>
      <h2 class="c-projectcard__title">{{ project.data.title }}</h2>
      <p class="c-projectcard__summary">{{ project.data.summary }}</p>
    </div>
  </a>
</article>