<article class="c-projectcard">
  <a class="c-projectcard__link" href="{{ project.url }}" aria-label="{{ project.data.title }}">
    <div class="c-projectcard__image">
    <picture>
      <source type="image/webp"
              srcset="/assets/img/projects_covers/_600x338/{{ project.data.bannerImage | getFilename }}.webp 600w,
                      /assets/img/projects_covers/_1024x576/{{ project.data.bannerImage | getFilename }}.webp 1024w"
              sizes="(min-width: 1280px) 380px,
                     (min-width: 1024px) 33vw,
                     (min-width: 750px) 50vw,
                     100vw">
      <source srcset="/assets/img/projects_covers/_600x338/{{ project.data.bannerImage | getFilename }}.jpg 600w,
                      /assets/img/projects_covers/_1024x576/{{ project.data.bannerImage | getFilename }}.jpg 1024w"
              sizes="(min-width: 1280px) 380px,
                     (min-width: 1024px) 33vw,
                     (min-width: 750px) 50vw,
                     100vw">
      <img src="/assets/img/projects_covers/_600x338/{{ project.data.bannerImage | getFilename }}.jpg"
           width="1024"
           height="576"
           loading="lazy"
           class="o-fluidimg"
           alt="">
    </picture>
    </div>
    <div class="c-projectcard__body">
      <p class="c-projectcard__date  c-meta">{{ dates.htmldate(project.data.date) }}</p>
      <h2 class="c-projectcard__title">{{ project.data.title }}</h2>
      <p class="c-projectcard__summary">{{ project.data.summary }}</p>
    </div>
  </a>
</article>