<header class="c-siteheader">
  <div class="l-container">
    <div class="c-siteheader__inner">
      <p class="c-logo"><a href="/"><img src="/assets/img/logo.svg" width="112" height="18" alt="René Robert"></a></p>
      <nav class="c-siteheader__nav">
        {% include "components/mainnav.njk" %}
        <p class="c-hamburger">
          <a class="js-navtrigger" href="#footernav">
            {% include "svg/hamburger.svg" %}
          </a>
        </p>
      </nav>
    </div>
  </div>
  {% include "components/touchmenu.njk" %}
</header>