<footer class="c-sitefooter">
  <div class="l-container">
    <div class="c-sitefooter__inner">

      <div class="c-sitefooter__about">
        <h2 class="c-footertitle">About René Robert</h2>
        <p class="u-margin-bottom-s">I am an outdoor photographer living in Chamonix, France. For as long as I remember I have been passionate about mountains, ice, snow and photography.</p>
        <p><a href="/about/">More about me</a></p>
      </div>

      <div class="c-sitefooter__nav">
        <h2 class="c-footertitle">Navigation</h2>
        <nav id="#footernav" aria-label="Footer navigation">
          {% for navItem in nav %}
            {% if loop.first %}<ul class="c-footernav">{% endif %}
              <li class="c-footernav__item"><a class="c-footernav__link" href="{{ navItem.url }}">{{ navItem.label }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </nav>
      </div>

      <div class="c-sitefooter__hire">
        <h2 class="c-footertitle">Lens for hire</h2>
        <p class="u-margin-bottom-s">Like what you see and need a photographer?</p>
        <p><a href="/hire/">Hire me</a></p>
      </div>

      <div class="c-sitefooter__copyright">
        <p>Copyright René Robert 2021, all rights reserved</p>
      </div>

    </div>
  </div>
</footer>