<header class="c-siteheader">
  <div class="l-container">
    <div class="c-siteheader__inner">
      <p class="c-siteheader__logo">logo</p>
      <nav class="c-siteheader__mav">
        <ul class="c-mainnav">
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="/">Home</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="/work/">Work</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="/about/">About</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="/hire/">Hire me</a></li>
        </ul>
        <p class="c-hamburger"><a href="#footernav">Menu</a></p>
      </nav>
    </div>
  </div>
</header>