<div class="c-touchmenu  js-touchmenu">
  <div class="c-touchmenu__header">
    <p class="c-logo"><a href="/"><img src="/assets/img/logo.svg" width="112" height="18" alt="René Robert"></a></p>
    <button class="c-touchmenu__close  js-navtrigger" aria-label="close navigation">{% include "svg/close.svg" %}</button>
  </div>
  <div class="c-touchmenu__body">
    <nav>
      <ul class="c-touchnav">
        <li class="c-touchnav__item"><a class="c-touchnav__link  is-active" href="/">Home</a></li>
        <li class="c-touchnav__item"><a class="c-touchnav__link" href="/work/">Work</a></li>
        <li class="c-touchnav__item"><a class="c-touchnav__link" href="/about/">About</a></li>
        <li class="c-touchnav__item"><a class="c-touchnav__link" href="/hire/">Hire me</a></li>
      </ul>
    </nav>
  </div>
</div>