// ----------------------------------
// =size utilities
// ----------------------------------

.u-text-medium {
  font-size: calc(18 / 16 * 1rem) !important;

  @include breakpoint(xlarge) {
    font-size: calc(20 / 16 * 1rem) !important;
  }
}

.u-text-small {
  font-size: calc(14 / 16 * 1rem) !important;

  @include breakpoint(xlarge) {
    font-size: calc(16 / 16 * 1rem) !important;
  }
}

// ----------------------------------
// =color utilities
// ----------------------------------

.u-text-gray8 {
  color: var(--color-gray8) !important;
}
