---
bannerImage: banner_hire.jpg
permalink: hire/index.html
---

{% extends "layouts/page.njk" %}

{% set currentSection = "hire" %}

{% block pagecontent %}
  <div class="c-pagesection">
    <div class="l-container">

      <h1 class="c-h1">Lens for Hire</h1>
      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">

          <div class="c-lead">
            <p>If you need a photographer and think I would fit the bill, do not hesitate to get in touch.</p>
          </div>
          <p>As you can imagine, I am often out and about shooting pictures but I usually am able to respond to enquiries withing three business days. If you cannot reach me on my phone, send me an email and I'll get back to you as quickly as I can.</p>

        </div>
        <div class="l-split__secondary">

          <h3 class="c-smalltitle">Phone &amp; Email</h3>
          <ul class="c-vlist">
            <li><a href="mailto:rene@photorobert.com">rene@photorobert.com</a></li>
            <li><a href="tel:0033668342328">+33 6 68342328</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>
  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container">

      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">

          <h2 class="c-h3">How I work</h2>
          <p>As you can guess, every job is different. I usually start by meeting people and defining the project and deliverables as precisely as possible. Nobody likes to buy a cat in a bag, so I am not going to sell you one.</p>
          <p>When we have agreed on the project, the contract and the payment terms, the project can start with everybody being on the same page.</p>
          <p>I generally deliver raw digital files, along with the final retouched photographs.</p>

          <h2 class="c-h3">Buying my pictures</h2>
          <p>I sell some of my pictures through several galleries. Please get in touch with me and I will point you in the right direction.</p>

        </div>
        <div class="l-split__secondary">

          <h3 class="c-h4">Rates</h3>
          <dl class="c-rates">
            <dt class="c-rates__title">Half Day</dt>
            <dd class="c-rates__data"><span class="c-rates__price">400&euro;</span> (VAT excl.)</dd>
            <dt class="c-rates__title">Full Day</dt>
            <dd class="c-rates__data"><span class="c-rates__price">800&euro;</span> (VAT excl.)</dd>
            <dt class="c-rates__title">Week</dt>
            <dd class="c-rates__data"><span class="c-rates__price">3500&euro;</span> (VAT excl.)</dd>
          </dl>
          <p class="u-text-small">These rates are indicative. They can vary depending on the project scope.</p>

        </div>
      </div>

    </div>
  </div>
{% endblock %}