---
bannerImage: banner_hire.jpg
permalink: hire/index.html
---

{% extends "layouts/page.njk" %}

{% set currentSection = "hire" %}

{% block pagecontent %}
  <div class="c-pagesection">
    <div class="l-container">

      <h1>Lens for Hire</h1>
      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit tempore dicta debitis reprehenderit atque natus facilis veritatis sunt quae impedit! Itaque labore nesciunt expedita dolore tenetur neque adipisci! Reiciendis, molestias.</p>
        </div>
        <div class="l-split__secondary">
          <p>Sidebar</p>
        </div>
      </div>

    </div>
  </div>
  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container">

      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">
          <h2>How I work</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit tempore dicta debitis reprehenderit atque natus facilis veritatis sunt quae impedit! Itaque labore nesciunt expedita dolore tenetur neque adipisci! Reiciendis, molestias.</p>
        </div>
        <div class="l-split__secondary">
          <p>Sidebar</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}