// ----------------------------------
// =titles
// ----------------------------------

.c-h1,
.c-h2,
.c-h3,
.c-h4 {
  font-weight: 400;
  font-family: var(--fontstack-alt);
  margin-bottom: 0.75em;
  color: var(--color-white);
}

.c-h1 {
  font-size: calc(33 / 16 * 1rem);
  line-height: calc(36 / 33);

  @include breakpoint(medium) {
    font-size: calc(40 / 16 * 1rem);
    line-height: calc(48 / 40);
  }

  @include breakpoint(large) {
    font-size: calc(48 / 16 * 1rem);
    line-height: calc(54 / 48);
  }
}

.c-h2 {
  font-size: calc(28 / 16 * 1rem);
  line-height: calc(36 / 28);

  @include breakpoint(large) {
    font-size: calc(33 / 16 * 1rem);
    line-height: calc(42 / 33);
  }
}

// ----------------------------------
// =footer titles
// ----------------------------------
.c-footertitle {
  margin-bottom: 1.5em;
  font-family: var(--fontstack-alt);
  font-weight: 600;
  line-height: 1.2;
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-gray8);
}
