// ----------------------------------
// =site header
// ----------------------------------

.c-siteheader {
  padding-top: calc(24 / 16 * 1rem);
  padding-bottom: calc(24 / 16 * 1rem);
  background-color: var(--color-gray1);

  @include breakpoint(medium) {
    padding-top: calc(30 / 16 * 1rem);
    padding-bottom: calc(30 / 16 * 1rem);
  }

  @include breakpoint(large) {
    padding-top: calc(42 / 16 * 1rem);
    padding-bottom: calc(42 / 16 * 1rem);
  }
}

.c-siteheader__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
