// ----------------------------------
// =titles
// ----------------------------------

.c-h1,
.c-h2,
.c-h3,
.c-h4 {
  font-weight: 400;
  font-family: var(--fontstack-alt);
  margin-bottom: 0.75em;
  color: var(--color-white);
}

.c-h1 {
  font-size: calc(33 / 16 * 1rem);
  line-height: calc(36 / 33);

  @include breakpoint(medium) {
    font-size: calc(40 / 16 * 1rem);
    line-height: calc(48 / 40);
  }

  @include breakpoint(large) {
    font-size: calc(48 / 16 * 1rem);
    line-height: calc(54 / 48);
  }
}

.c-h2 {
  font-size: calc(28 / 16 * 1rem);
  line-height: calc(36 / 28);

  @include breakpoint(large) {
    font-size: calc(33 / 16 * 1rem);
    line-height: calc(42 / 33);
  }
}

.c-h3 {
  font-size: calc(23 / 16 * 1rem);
  line-height: calc(30 / 23);

  @include breakpoint(large) {
    font-size: calc(28 / 16 * 1rem);
    line-height: calc(36 / 28);
  }
}

.c-h4 {
  font-size: calc(19 / 16 * 1rem);
  line-height: calc(24 / 19);

  @include breakpoint(large) {
    font-size: calc(23 / 16 * 1rem);
    line-height: calc(30 / 23);
  }
}

// ----------------------------------
// =small titles
// ----------------------------------
.c-smalltitle {
  font-weight: 400;
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 14);
  margin-bottom: calc(24 / 16 * 1rem);
  color: var(--color-gray8);
  text-transform: uppercase;
  letter-spacing: 1px;
}

// ----------------------------------
// =footer titles
// ----------------------------------
.c-footertitle {
  margin-bottom: 1em;
  font-family: var(--fontstack-alt);
  font-weight: 600;
  font-size: calc(19 / 16 * 1rem);
  line-height: calc(24 / 19);
  color: var(--color-gray8);
}
