// ----------------------------------
// =icon
// ----------------------------------

.c-icon {
  display: inline-block;
  vertical-align: middle;
}

.c-icon--before {
  margin-right: calc(6 / 16 * 1rem);
}
