// ----------------------------------
// =date
// ----------------------------------

.c-meta {
  color: var(--color-gray5);
  font-size: calc(14 / 16 * 1rem);
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.c-meta a {
  text-decoration: none;
  color: var(--color-brand);

  &:hover {
    text-decoration: none;
    color: var(--color-brand-dark);
  }
}
