{% extends "layouts/base.njk" %}

{% import "macros/dates.njk" as dates %}

{% set metaTitle = title %}
{% set metaDescription = summary %}
{% set metaImage = "/assets/img/projects_covers/600x600" ~ bannerImage %}

{% block content %}
  {# banner #}
  <div class="c-pagebanner">
    {% set banner600 = "/assets/img/projects_covers/600x338/" ~ bannerImage %}
    {% set banner1024 = "/assets/img/projects_covers/1024x576/" ~ bannerImage %}
    {% set banner1500 = "/assets/img/projects_covers/" ~ bannerImage %}
    <img src="{{ banner600 }}"
         srcset="{{ banner600 }} 600w,
                 {{ banner1024 }} 1024w,
                 {{ banner1500 }} 1500w"
         sizes="100vw"
         class="c-pagebanner__image"
         alt="{{ title }}">
  </div>

  {# content #}
  <div class="c-pagesection">
    <div class="l-container  l-container--text">
      <p class="c-meta  u-margin-bottom-xs">{{ dates.htmldate(date) }}</p>
      <h1 class="c-h1  u-margin-bottom-s">{{ title }}</h1>
      <p class="c-meta  u-margin-bottom-l">Client: {% if clientUrl %}<a href="{{ clientUrl }}">{% endif %}{{ client }}{% if clientUrl %}</a>{% endif %}</p>
      <div class="c-lead">
        <p>{{ summary }}</p>
      </div>
      {{ content | safe }}
    </div>
  </div>

  {# pictures #}
  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container  l-container--narrow">
      {% for picture in pictures %}
        {% if loop.first %}<ul class="c-pictureslist">{% endif %}
          <li class="c-pictureslist__item">

            <figure class="c-picture">
              {% set img600 = "/assets/img/projects/600xauto/" ~ picture.file %}
              {% set img1024 = "/assets/img/projects/" ~ picture.file %}
              <img src="{{ img600 }}"
                   srcset="{{ img600 }} 600w,
                           {{ img1024 }} 1024w"
                   sizes="(min-width: 1280px) 1024px,
                          100vw"
                   class="o-fluidimg"
                   loading="lazy"
                   decoding="async"
                   alt="{{ picture.title }}">
              <figcaption class="c-picture__body">
                <h2 class="c-picture__title">{{ picture.title }}</h2>
                <p class="c-picture__caption">{{ picture.caption }}</p>
                <ul class="c-picture__data">
                  <li>{% include "svg/icon_location.svg" %}{{ picture.location }}</li>
                  <li>{% include "svg/icon_time.svg" %}{{ picture.date | date("MMMM DD, YYYY") }}</li>
                </ul>
              </figcaption>
            </figure>

          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}