---
bannerImage: banner_about.jpg
permalink: about/index.html
---

{% extends "layouts/page.njk" %}

{% set metaTitle = "About René Robert" %}
{% set metaDescription = "I am an outdoor photographer with more than 20 years of experience living in Chamonix Mont-Blanc, France." %}
{% set metaImage = site.metaImage %}

{% set currentSection = "about" %}

{% block pagecontent %}
  <div class="c-pagesection">
    <div class="l-container">

      <h1 class="c-h1">About René Robert</h1>
      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">

          <div class="c-lead">
            <p>I am an outdoor photographer with more than 20 years of experience living in Chamonix Mont-Blanc, France.</p>
          </div>
          <p>Throughout my career, I have been following explorers, alpinists, skiers and snowboarders. I have also worked for the press as well as on advertising and marketting material for well known brands.</p>

        </div>
        <div class="l-split__secondary">

          <h2 class="c-smalltitle">Phone &amp; Email</h2>
          <ul class="c-vlist">
            <li><a href="mailto:rene@photorobert.com">rene@photorobert.com</a></li>
            <li><a href="tel:0033668342328">+33 6 68342328</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>
  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container">

      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">

          <h2 class="c-h3">Biography</h2>
          <p>I have been living in Chamonix for most of my life now. I have always been surrounded by mountains, ice and snow. My friends and myself have always been climbing, skiing and snowboarding.</p>
          <p>When I chose photography as a career, people naturally asked me to accompany them. Living in Chamonix, I was lucky enough to meet a lot of great people that were at the top of their game in their disciplines. Some became really close friends over the years.</p>
          <p>Through my pictures, I always try to do justice to those "artists", as I refer to them.</p>

          <h2 class="c-h3">Philosophy</h2>
          <p>Part of my work is to be capable of following the people I have to photograph, which is not always as easy as it seems. While you don't have to be as good as them, it takes a fair amount of practice and a good physical condition to be able to drag your equipment along and to take good pictures, sometimes in very difficult conditions.</p>
          <p>I am also aiming at capturing the beauty and majesty of the landscapes I am seeing. My job is to have a good eye, but I also like to think I can play a role as a privileged witness of the beauty of our planet. Don't tell anyone, but mountains and polar regions can make you borderline mystical sometimes.</p>

        </div>
        <div class="l-split__secondary">
          <h2 class="c-smalltitle">Address</h2>
          <p>Route des pélerins, 1207<br>
          74400 Chamonix Mont-Blanc<br>
          BP 179<br>
          France</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}