---
permalink: index.html
bannerImage: banner_home.jpg
---

{% extends "layouts/page.njk" %}

{% from "macros/projectCard.njk" import projectCard %}

{% set metaTitle = "Homepage" %}
{% set metaDescription = "I am an outdoor photographer with more than 20 years of experience living in Chamonix Mont-Blanc, France." %}
{% set metaImage = site.metaImage %}

{% set currentSection = "home" %}

{% block pagecontent %}
  <div class="c-pagesection">
    <div class="l-container">

      <h2 class="c-h1">René Robert</h2>
      <div class="l-split  l-split--7fr5fr">
        <div class="l-split__primary">
          <div class="u-text-medium  u-text-gray8">
            <p>I am an outdoor photographer with more than 20 years of experience living in Chamonix Mont-Blanc, France.</p>
          </div>
          <p>Throughout my career, I have been following explorers, mountain climbers, skiers and snowboarders. I have also worked for the press as well as on advertising and marketting material for well known brands.</p>
          <p>This site is my online portfolio, presenting the work I have done for a wide variety of clients.</p>
        </div>
        <div class="l-split__secondary">
          {% set categories = collections.projectsCategories | limit(6) %}
          {% for category in categories %}
            {% if loop.first %}<ul class="c-categories">{% endif %}
              <li class="c-categories__item"><a href="/work/{{ category.slug }}" class="c-categories__link">{{ category.title }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container">
      {% set allProjects = collections.projects | limit(6) %}
      {% for item in allProjects %}
        {% if loop.first %}<ul class="l-grid  l-grid--2cols@medium  l-grid--3cols@large">{% endif %}
          <li>

            {{ projectCard(
              url = item.url,
              title = item.data.title,
              image = item.data.bannerImage,
              date = item.date,
              summary = item.data.summary
            ) }}

          </li>
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}