---
bannerImage: banner_work.jpg
pagination:
  size: 1
  data: collections.projectsCategories
  alias: currentCategory
permalink: work/{{ currentCategory.slug }}/index.html
---

{% extends "layouts/page.njk" %}

{% from "macros/projectCard.njk" import projectCard %}

{% set metaTitle = "Pictures and projects - " ~ currentCategory.title %}
{% set metaDescription = "A selection of pictures and projects" %}
{% set metaImage = site.metaImage %}

{% set currentSection = "work" %}

{% block pagecontent %}
  <div class="c-pagesection">
    <div class="l-container">

      <div class="l-split  l-split--1fr2fr">
        <div class="l-split__primary">
          <h1 class="c-h1">Portfolio</h1>
        </div>
        <div class="l-split__secondary">
          {# categories #}
          {% set categories = collections.projectsCategories %}
          {% for category in categories %}
            {% if loop.first %}
              <ul class="c-categories  c-categories--columns">
                <li class="c-categories__item"><a href="/work/" class="c-categories__link  {{ 'is-active' if page.fileSlug == 'work' }}">All categories</a></li>
            {% endif %}
                <li class="c-categories__item"><a href="/work/{{ category.slug }}" class="c-categories__link  {{ 'is-active' if category.slug == currentCategory.slug }}">{{ category.title }}</a></li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="c-pagesection  c-pagesection--highlight">
    <div class="l-container">
      {% set catProjects = collections.projects | include("data.categories", currentCategory.title) %}
      {% for item in catProjects %}
        {% if loop.first %}<ul class="l-grid  l-grid--2cols@medium  l-grid--3cols@large">{% endif %}
            <li>

              {{ projectCard(
                url = item.url,
                title = item.data.title,
                image = item.data.bannerImage,
                date = item.date,
                summary = item.data.summary
              ) }}

            </li>
          {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}