// ----------------------------------
// =container
// ----------------------------------

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: calc(18 / 16 * 1rem);
  padding-left: calc(18 / 16 * 1rem);

  @include breakpoint(medium) {
    padding-right: calc(30 / 16 * 1rem);
    padding-left: calc(30 / 16 * 1rem);
  }
}

.l-container--narrow {
  max-width: 1024px;
}

.l-container--text {
  max-width: 85ch;
}
