// ----------------------------------
// =splits
// ----------------------------------

$split-gap: calc(30 / 16 * 1rem);

.l-split {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b";
  column-gap: $split-gap;
}

.l-split__primary {
  grid-area: a;
}

.l-split__secondary {
  grid-area: b;
}

.l-split--1fr2fr {
  @include breakpoint(medium) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "a b";
  }
}

.l-split--7fr5fr {
  @include breakpoint(medium) {
    grid-template-columns: 7fr 5fr;
    grid-template-areas: "a b";
  }

  @include breakpoint(large) {
    grid-template-columns: 7fr 1fr 4fr;
    grid-template-areas: "a . b";
  }
}
