// ----------------------------------
// =colors
// ----------------------------------

:root {
  --color-gray1: hsl(0, 0%, 6%);
  --color-gray2: hsl(0, 0%, 12%);
  --color-gray3: hsl(0, 0%, 30%);
  --color-gray4: hsl(0, 0%, 42%);
  --color-gray5: hsl(0, 0%, 60%);
  --color-gray6: hsl(0, 0%, 66%);
  --color-gray7: hsl(0, 0%, 72%);
  --color-gray8: hsl(0, 0%, 90%);

  --color-brand: hsl(47, 70%, 60%);
  --color-brand-dark: hsl(47, 52%, 54%);
  --color-brand-bright: hsl(47, 84%, 54%);

  --color-white: hsl(100, 100%, 100%);
}
